* {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 10px;
}

strong,
code,
a {
    margin: 0px;
}

code {
    font-family: 'Monaco';
    background-color: rgb(88, 88, 104);
    padding: 2px;
    line-height: 21px;
    font-size: 13px;
}

li {
    margin-left: 0px;
}

h1 {
    color: #01ffc8;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 900;
    margin: 4px;
    margin: 15px;
    border-bottom: 1px solid grey;
}

body {
    padding: 10px;
    background-color: rgb(20, 20, 20);
    color: aliceblue;
}

a {
    color: aqua;
}


table {
    margin: 10% 12.5% 12.5%;
    width: 75%;
    border-collapse: collapse;
    z-index: 10;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: relative;
}

td {
    text-align: center;
    background-color: rgb(34, 34, 34);
    color: #808080;
    padding: 20px;
}

th {
    padding: 20px;
    font-family: Lato;
    color: #62b7fd;
    background-color: rgb(57, 57, 57);
    text-transform: uppercase;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}