/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 10px;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

main {
    display: block;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

input {
    overflow: visible;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

details {
    display: block;
}

summary {
    display: list-item;
}

menu {
    display: block;
}

canvas {
    display: inline-block;
}

[hidden],
template {
    display: none;
}

body,
html {
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    font-variant-ligatures: common-ligatures;
    line-height: 1.67;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

blockquote,
dl,
ol,
p,
pre,
ul {
    margin: 1.2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.8em 0;
    line-height: 1.33;
}

h1:after,
h2:after {
    content: "";
    display: block;
    position: relative;
    top: 0.33em;
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.33);
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0;
}

dt {
    font-weight: 700;
}

a {
    color: #0c93e4;
    transition: 0.3s;
    text-decoration: none;
    text-decoration-skip: ink;
}

a:hover {
    text-decoration: none;
    transition: 0.3s;
    color: rgb(10, 10, 10);
}

code,
pre,
samp {
    font-family: Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco,
    Courrier, monospace;
    font-size: 0.85em;
}

code *,
pre *,
samp * {
    font-size: inherit;
}

blockquote {
    color: rgba(0, 0, 0, 0.5);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0, 0, 0, 0.1);
}

code {
    font-family: monospace, sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 2px 4px;
    color: #d63b3b;
}

hr {
    border: 0;
    border-top: 1px solid hsla(0, 0%, 50%, 0.33);
    margin: 2em 0;
}

pre > code {
    background-color: rgba(0, 0, 0, 0.05);
    display: block;
    padding: 0.5em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre;
}

.toc ul {
    list-style-type: none;
    padding-left: 20px;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
}

td,
th {
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px;
}

td:last-child,
th:last-child {
    border-right: 0;
}

td {
    border-top: 1px solid #dcdcdc;
}

mark {
    background-color: #f8f840;
}

kbd {
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    background-color: #fff;
    border: 1px solid rgba(63, 63, 63, 0.25);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(63, 63, 63, 0.25);
    color: #333;
    display: inline-block;
    font-size: 0.8em;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    white-space: nowrap;
}

abbr[title] {
    border-bottom: 1px dotted #777;
    cursor: help;
}

img {
    max-width: 100%;
}

body {
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    tab-size: 4;
    text-rendering: auto;
}

* {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

input[type="checkbox"] {
    outline: 5px auto #349be8;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a,
.sidebar_title {
    text-decoration: none;
    font-size: 19px;
    transition: 0.3s;
    color: #818181;
    display: block;
}

.sidebar a {
    margin-left: 13px;
    padding: 5px 0;
}

.sidebar a:hover, .sidebar a:active {
    transition: 0.3s;
    color: #f1f1f1;
}

.content {
    margin-left: 250px; /* Same as the width of the sidebar */
    font-size: 19px; /* Increased text to enable scrolling */
    padding: 0 10px;
}

.progress-container {
    position: fixed;
    top: 0;
    margin-left: 240px;
    width: calc(100% - 250px);
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: #1aa6e7;
    width: 0;
}

.sidebar_title {
    padding: 0;
    margin-left: 0;
    text-align: center;
    color: lightskyblue;
    font-weight: 900;
}

.sidebar h3 {
    margin-top: 0;
    color: white;
    font-weight: normal;
    font-size: 19px;
    margin-bottom: 0;
}

.readable {
    display: none;
}

.sidebar_button {
    text-align: center;
    display: inline;
    background-color: transparent;
    color: white;
    border: 0 transparent solid;
}

#search {
    transition: 0.3s;
    color: #00cbff;
}

#search:hover {
    transition: 0.3s;
    color: white;
}

.page {
    margin-left: 250px;
}