<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Stats</title>
		<link th:rel="stylesheet" th:href="@{/css/stats-styles.css}"/>
		<link
				href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
				rel="stylesheet"
		/>
		<link
				href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
				rel="stylesheet"
		/>
		<link
				href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap"
				rel="stylesheet"
		/>
	</head>
	<body>
		<div class="readable" id="payload">[[${payload}]]</div>
		<div>
			<header>
				<div id="mode">
					<div id="modename"></div>
				</div>
			</header>
			<table id="table">
			
			</table>
		</div>
		<script th:src="@{/js/stats-loader.js}"></script>
	</body>
</html>